%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', :http-equiv => 'Content-Type' }
  %body
    %div{ :style => 'max-width: 700px;' }
      %h2= '1Voice - Members'
      %hr
      = yield