- model_class = User
.container
  .row
    .col-md-8.col-md-offset-2
      %h3=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
      = render :partial => "form"
