- model_class = Member
.container
  .row
    .span2
    .span8
      %h3=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
      = render :partial => "form"
