- model_class = Member
.container
  .row
    .col-md-8.col-md-offset-2
      %h3=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
      = render :partial => "form"
